
 /**********************************
SLIDER
***********************************/
	
	#infomain {
	clear: both;
	width: 100%;
	overflow: hidden;
	margin-top: -17px;
	margin-right: 20px;
	padding: 0;	
}



#thumbpics {
	width: 100%;
	overflow: hidden;
	overflow: auto;
	height: 140px;

}

#thumbpics img {
	width: 30%;
}



.sliderinfo1 {
	padding-left: 50px; width: 100%;	 font-size: .9em; display: block;
}

.sliderinfo2 {
	padding-left: 50px; width: 100%; display: block;
}

.button {
background-color:rgba(33,33,33,.80);
padding: 5px 9px;
border-radius: 20px;
font-size: .9em;

}



#button3 {
background-color: rgba(54,54,54,.9);
padding: 15px;
margin: 0 0 15px 0;
float: left;
width: 50px;
text-align: center;
}




#button4 {
background-color: rgba(54,54,54,.9);
margin: 0 0 15px 0;
padding: 15px;
float: left;
width: 50px;
text-align: center;
}








