@charset "UTF-8";
/* CSS Document */



/**********************************
GENERAL
***********************************/



body {
  	font-family: 'Nunito', sans-serif;
    max-width: 1200px;
	margin: 0 auto;
	width: 95%;
	color: #fff;
	letter-spacing: .03em;
	background: url(../../img/studio_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
	
}


#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  

  
}

 #primary {

   line-height: 1.3em;
   font-size: 16.5px;
   padding: 0px 5% 5% 5%;

  
  }


h1 {
  font-size: 2em;
  letter-spacing: .015em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #fff;
  
}


h2 {
	 color: #ececec;
  font-size: 1.2em;
  padding:  15px 20px;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  
 background-color: rgba(46,46,46,.70);
}




h3 {
  color: #ececec;
  font-size: 1.5em;
  padding: 15px 0;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  background-color: #313131;
}



p{
	margin: 0px;
	padding:  10px 20px;
	padding-bottom: 15px;
	line-height: 40px;
	background-color:rgba(131,131,131,.40);
	overflow: hidden;
			
}

a 

{
  text-decoration: none;
  color: #fff;
}



a:visited {
  color: #fff;
}


a:hover {
  color: #fff070;
}


img {
  max-width: 100%;
}


/**********************************
HEADER
***********************************/


header img {
	width: 90%;
padding-left: 5%;
}



header h2 {
	color: white;
	margin:	0;
	padding: 0;	
}



header {

  margin: 0 auto;
  padding: 10px 0px 0px 0px;
  width: 100%;



}


/**********************************
NAVIGATION
***********************************/


nav {
	text-align: center;

	
}


	nav ul li:hover > ul {
		display: block;
		
	}


nav ul {
	width: 100%;
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
	z-index: 99999;
	font-weight: 900;
}
	nav ul:after {
		content: ""; clear: both; display: block;
		
	}

	nav ul li {
		 width: 90%;
		 margin-top: 5px;
		 padding: 7px 0;
		 font-size: 1.2em;
		background: #000; 
background-image: -moz-linear-gradient( -90deg, rgb(116,116,116) 0%, rgb(82,82,82) 34%, rgb(47,47,47) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(116,116,116) 0%, rgb(82,82,82) 34%, rgb(47,47,47) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(116,116,116) 0%, rgb(82,82,82) 34%, rgb(47,47,47) 100%);
  box-shadow: 0px 0px 8.3px 1.7px rgba(0, 0, 0, 0.35);
	
	}
	
	nav ul li:last-child {
		 border-bottom: none;	
	}
	
	.show {
	display: none;
}
	
	
		nav ul li:hover {
			background: linear-gradient(top, #8798ab 0%, #57606b 50%);
			background: -moz-linear-gradient(top, #8798ab 0%, #57606b 50%);
			background: -webkit-linear-gradient(top, #8798ab 0%, #57606b 50%);
		}
			nav ul li:hover a {
				color: #fff;
				
			}
			
	
			
			
		
		nav ul li a {
			display: block; padding: 7px 13px;
			color: #fff; text-decoration: none;
			
			
			
		}
			
		
	nav ul ul {
	 border-radius: 0px; padding: 0;
		position: relative; top: 54%;
		
	}
		
			
				nav ul ul li a:hover {
					background: #4b545f;
					
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
		





/**********************************
FOOTER
***********************************/

footer {
  font-size: .9em;
  clear: both;
  padding-bottom: 30px;
  color: #ccc;	
 overflow: hidden;
  width: 95%;
  margin: 0 auto; 
}

#copyright {	font-size: .9em;
	text-align: center;
	width: 95%;
	background: none;
	padding: 10px 0;
}
  

.social {
width: 50px;
overflow: hidden;

}

#leftfooter {
text-align: center;
}

#rightfooter {
width: 60%;
margin: 0 auto;
text-align: center;
}




